{% extends 'base.html.twig' %}

{% block navbarButtons %} 

    <li><a href="/talent">Espace Talents</a></li>
    <li><a href="/pro">Espace Entreprises</a></li>

{% endblock %}

{% block pageTitle %}
    Politique de confidentialité
{% endblock %}

{% block body %}


{% block offers %}

<div class="container">
    <p style="margin: 5rem">

    <p style="color: #b51a00;"><span style="color: rgb(0, 0, 0);"><b>Responsable de traitement :</b></span></p>

    La société <a style="color: #ffae00" href="http://www.corse-connexion.corsica">Corse-connexion</a> est amenée à collecter et traiter des données personnelles vous concernant.</br>
    La société <a style="color: #ffae00" href="http://www.corse-connexion.corsica">Corse-connexion</a> est située Villa Madinina, 20137 Lecci.</br>
    Son accueil est joignable par téléphone au 0615934453</br>
    </br>
    La société <a style="color: #ffae00" href="http://www.corse-connexion.corsica">Corse-connexion</a> édite le site Internet <a style="color: #ffae00" href="http://www.corse-connexion.corsica">https://www.Corse-Connexion.corsica</a> et réalise des traitements de données personnelles. </br>
    </br>
    La réglementation définit les données personnelles comme « toute information se rapportant à une personne physique identifiée ou identifiable », que cette personne puisse être identifiée, directement ou indirectement, notamment par référence à un identifiant, tel qu'un nom, un numéro d'identification ou des données de localisation.
    Finalités et fondements juridiques</br> 
    </br>
    La liste ci-dessous récapitule les finalités de données personnelles pour lesquelles la société <a style="color: #ffae00" href="http://www.corse-connexion.corsica">Corse-connexion</a> est Responsable de traitement ainsi que les fondements juridiques de ces traitements :  </br>
    </br>
    Informations / Offres promotionnelles</br>
    Statistiques</br>
    Contact</br>
    Gestion du site Web (présentation, organisation)</br>
    </br>
    <p style="color: #b51a00;"><span style="color: rgb(0, 0, 0);"><b>Délégué à la Protection des Données</b></span></p>
    
    La société <a style="color: #ffae00" href="http://www.corse-connexion.corsica">Corse-connexion</a> a désigné un Délégué à la Protection des Données dont les coordonnées email sont les suivantes :</br>
    </br>
    info@corse-connexion.corsica</br>
    </br>
    <p style="color: #b51a00;"><span style="color: rgb(0, 0, 0);"><b>Caractère obligatoire ou facultatif des questions</b></span></p>
    Dans les formulaires, les réponses aux cases munies d’un astérisque sont obligatoires, le défaut réponse compromettra le bon suivi de votre demande/dossier.</br>
    </br>
    <p style="color: #b51a00;"><span style="color: rgb(0, 0, 0);"><b>Catégories de données collectes et sources</b></span></p>
    La société <a style="color: #ffae00" href="http://www.corse-connexion.corsica">Corse-connexion</a> traite des catégories de données personnelles suivantes : les données d’identification (noms, prénoms, lieu de naissance, etc.), l’adresse email, des éléments de vie personnelle (situation familiale, enfants à charge, etc.), des éléments de vie professionnelle, des éléments de paiement des créances.</br>
    </br>
    Vos données sont collectées directement par la société <a style="color: #ffae00" href="http://www.corse-connexion.corsica">Corse-connexion</a> lors de nos prises de contact. Elles sont également transmises par les clients de la société <a style="color: #ffae00" href="http://www.corse-connexion.corsica">Corse-connexion</a> qui recourent aux services de notre étude.</br>
    </br>
    <p style="color: #b51a00;"><span style="color: rgb(0, 0, 0);"><b>Destinataires des données :</b></span></p>
    Vos données nominatives ne sont pas communiquées à des Tiers.</br>
    </br>
    <p style="color: #b51a00;"><span style="color: rgb(0, 0, 0);"><b>Durée de conservation :</b></span></p>
    Les données nominatives collectées sont conservées par la société <a style="color: #ffae00" href="http://www.corse-connexion.corsica">Corse-connexion</a>, conformément à la réglementation relative à la protection des données et selon les durées des prescriptions légales.  </br>
    A titre d’exemple :</br>
    </br>
        Les données relatives à la gestion du recrutement sont conservées pour une durée de 24 mois;</br>
        Les données afférentes aux prospects sont conservées pendant 3 ans à compter du dernier contact commercial.</br>
    </br>
    <p style="color: #b51a00;"><span style="color: rgb(0, 0, 0);"><b>Les droits des personnes dont les données sont collectées :</b></span></p>
        Vous avez le droit de demander l’accès et la rectification de vos données personnelles.</br>
        Vous avez le droit de demander la limitation du traitement de vos données personnelles, si vous contestez l’exactitude de vos données pendant la durée nous permettant de vérifier l’exactitude de ces dernières, si vous considérez que nous traitons illicitement vos données et que vous exigez une limitation de leur utilisation plutôt qu’un effacement, si nous n’avons plus besoin de vos données au regard des finalités visées ci-dessus mais que celles-ci sont encore nécessaires pour la constatation, l’exercice ou la défense de vos droits en justice, en cas d’exercice de votre droit d’opposition pendant la durée de vérification portant sur le point de savoir si les motifs légitimes que nous poursuivons prévalent sur les vôtres.</br>
        Vous avez le droit de demander la suppression de vos données personnelles. En cas de demande de suppression de vos données, la société <a style="color: #ffae00" href="http://www.corse-connexion.corsica">Corse-connexion</a> pourra néanmoins les conserver sous forme d’archivage intermédiaire, et ce pour la durée nécessaire à la satisfaction de ses obligations légales, comptables et fiscales.</br>
        Vous avez le droit de demander à exercer votre droit d’opposition vis-à-vis des traitements exploités pour des motifs légitimes.</br>
        
    </br>
    <a style="color: #ffae00" href="http://www.corse-connexion.corsica">Corse-connexion</a></br>

    Villa Madinina</br>

    20137 LECCI</br>

    0615934453</br>
    </br>
        Vous avez le droit d’exercer votre droit à la portabilité. </br>
        Vous avez le droit de retirer votre consentement à tout moment. Toutefois, le retrait de votre consentement peut avoir, en pratique et selon le cas, une incidence sur votre relation avec la société <a style="color: #ffae00" href="http://www.corse-connexion.corsica">Corse-connexion</a></br>
    </br>
    
    Ces droits peuvent être exercés, à tout moment, en envoyant un courrier postal à l’adresse :</br>
    </br>
    
    <a style="color: #ffae00" href="http://www.corse-connexion.corsica">Corse-connexion</a></br>

    Villa Madinina</br>

    20137 LECCI</br>

    0615934453</br>
    </br>
    Vous disposez également du droit de formuler des directives spécifiques ou générales concernant la conservation, l’effacement et la communication de vos données à caractère personnel post-mortem. Les directives générales (concernant l'ensemble des données à caractère personnel se rapportant à la personne concernée) peuvent être enregistrées auprès d'un tiers de confiance numérique certifié par la CNIL (Commission nationale de l'informatique et des libertés). Les directives spécifiques relatives aux données traitées peuvent être envoyées à l’adresse email suivante :</br>
    </br>
    Vous pouvez également – si vous le souhaitez –présenter une réclamation auprès de la Commission Nationale de l’Informatique et des Libertés (CNIL). Des informations supplémentaires sont accessibles sur son site Internet www.cnil.fr.</br>
    </br>
    Pour toute question sur ces aspects, vous pouvez nous contacter par email à l’adresse suivante :</br>
    info@corse-connexion.corsica ou par voie postale à l’adresse suivante :</br>
    </br>
    <a style="color: #ffae00" href="http://www.corse-connexion.corsica">Corse-connexion</a></br>

    Villa Madinina</br>

    20137 LECCI</br>

    0615934453</br>
    </br>
    </p>
</div>

{% endblock %}

{% block footer %} {{ parent() }} {% endblock %}

{% endblock %}
