{% extends 'base.html.twig' %}

{% block navbar %} 

    <li><a href="/talent">Espace Talents</a></li>
    <li><a href="/pro">Espace Entreprises</a></li>

{% endblock %}

{% block pageTitle %}
    Politique de confidentialité
{% endblock %}

{% block body %}


{% block offers %}

<div class="container">
    <p style="margin: 5rem">

    Responsable de traitement :

    La société PRONATURA est amenée à collecter et traiter des données personnelles vous concernant.
    La société PRONATURA est située 754 avenue Pierre Grand, MIN, 84300 CAVAILLON.
    Son accueil est joignable par téléphone au 04 90 78 73 00 ou par télécopie au 04 90 78 73 10

    La société PRONATURA édite le site Internet https://www.pronatura.com et réalise des traitements de données personnelles. 

    La réglementation définit les données personnelles comme « toute information se rapportant à une personne physique identifiée ou identifiable », que cette personne puisse être identifiée, directement ou indirectement, notamment par référence à un identifiant, tel qu'un nom, un numéro d'identification ou des données de localisation.
    Finalités et fondements juridiques 

    Le tableau ci-dessous récapitule les finalités de données personnelles pour lesquelles la société PRONATURA est Responsable de traitement ainsi que les fondements juridiques de ces traitements :  

    Finalités du traitement
        

    Fondements juridiques

    Gestion des demandes de contacts (newsletters)
        

    Les intérêts légitimes de la société PRONATURA et votre consentement

    Gestion des demandes de contact

    
        

    Les intérêts légitimes de la société PRONATURA

    Gestion du recrutement
        

    L’exécution de relations précontractuelles et les intérêts légitimes de la société PRONATURA

    Prospection commerciale
        

    Les intérêts légitimes de la société PRONATURA et votre consentement

    Délégué à la Protection des Données

    La société PRONATURA a désigné un Délégué à la Protection des Données dont les coordonnées postales et email sont les suivantes :

    Data Protection Officer

    Pronatura

    MIN

    754 avenue Pierre Grand

    84300 CAVAILLON

    04 90 78 73 00

    Dpo@organic-alliance.com

    Caractère obligatoire ou facultatif des questions

    Dans les formulaires, les réponses aux cases munies d’un astérisque sont obligatoires, le défaut réponse compromettra le bon suivi de votre demande/dossier.
    Catégories de données collectes et sources

    La société PRONATURA traite des catégories de données personnelles suivantes : les données d’identification (noms, prénoms, lieu de naissance, etc.), l’adresse email, des éléments de vie personnelle (situation familiale, enfants à charge, etc.), des éléments de vie professionnelle, des éléments de paiement des créances.

    Vos données sont collectées directement par la société PRONATURA lors de nos prises de contact. Elles sont également transmises par les clients de la société PRONATURA qui recourent aux services de notre étude.
    Destinataires des données :

    Vos données nominatives peuvent être communiquées à des Tiers, Partenaires et/ou Sous-Traitants de la société PRONATURA (prestataires externes à des fins de maintenance informatique par exemple) pour les finalités visées dans la présente Politique de Confidentialité. Les Sous-Traitants agissant selon les instructions de la société PRONATURA seront tenus de mettre en œuvre des mesures de protection appropriées de ces données nominatives. 

    Si certains Tiers sont localisés dans des pays dont la réglementation n’offre pas nécessairement le même niveau de protection que celui des Etats membres de l’Union Européenne, la société PRONATURA s’assurera que ces transferts sont réalisés conformément aux dispositions imposées par la réglementation française (telle que la mise en place des clauses contractuelles adoptées par la Commission Européenne). Vous pouvez nous contacter pour obtenir de plus amples informations sur ces sujets ainsi qu’une copie des documents pertinents.
    Durée de conservation :

    Les données nominatives collectées sont conservées par la société PRONATURA, conformément à la réglementation relative à la protection des données et selon les durées des prescriptions légales.  A titre d’exemple :

        Les données relatives à la gestion du recrutement sont conservées pour une durée de 24 mois;
        Les données afférentes aux prospects sont conservées pendant 3 ans à compter du dernier contact commercial.

    Les droits des personnes dont les données sont collectées :

        Vous avez le droit de demander l’accès et la rectification de vos données personnelles.
        Vous avez le droit de demander la limitation du traitement de vos données personnelles, (i) si vous contestez l’exactitude de vos données pendant la durée nous permettant de vérifier l’exactitude de ces dernières, (ii) si vous considérez que nous traitons illicitement vos données et que vous exigez une limitation de leur utilisation plutôt qu’un effacement, (iii) si nous n’avons plus besoin de vos données au regard des finalités visées ci-dessus mais que celles-ci sont encore nécessaires pour la constatation, l’exercice ou la défense de vos droits en justice, (iv) en cas d’exercice de votre droit d’opposition pendant la durée de vérification portant sur le point de savoir si les motifs légitimes que nous poursuivons prévalent sur les vôtres.
        Vous avez le droit de demander la suppression de vos données personnelles. En cas de demande de suppression de vos données, la société PRONATURA pourra néanmoins les conserver sous forme d’archivage intermédiaire, et ce pour la durée nécessaire à la satisfaction de ses obligations légales, comptables et fiscales.
        Vous avez le droit de demander à exercer votre droit d’opposition vis-à-vis des traitements exploités pour des motifs légitimes.

    Vous avez également le droit de vous opposer à la prospection commerciale, sans avoir à fournir de motif, en adressant un courrier électronique à l’adresse magali.tournier[at]pronatura.com ou un courrier postal à l’adresse :

    Pronatura

    MIN

    754 avenue Pierre Grand

    84300 CAVAILLON

    04 90 78 73 00

        Vous avez le droit d’exercer votre droit à la portabilité. 
        Vous avez le droit de retirer votre consentement à tout moment. Toutefois, le retrait de votre consentement peut avoir, en pratique et selon le cas, une incidence sur votre relation avec la société PRONATURA

    
    Ces droits peuvent être exercés, à tout moment, en envoyant un courrier postal à l’adresse :

    Pronatura

    Data Protection Officer

    MIN

    754 avenue Pierre Grand

    84300 CAVAILLON

    04 90 78 73 00

    Vous disposez également du droit de formuler des directives spécifiques ou générales concernant la conservation, l’effacement et la communication de vos données à caractère personnel post-mortem. Les directives générales (concernant l'ensemble des données à caractère personnel se rapportant à la personne concernée) peuvent être enregistrées auprès d'un tiers de confiance numérique certifié par la CNIL (Commission nationale de l'informatique et des libertés). Les directives spécifiques relatives aux données traitées peuvent être envoyées à l’adresse email suivante :

    Vous pouvez également – si vous le souhaitez –présenter une réclamation auprès de la Commission Nationale de l’Informatique et des Libertés (CNIL). Des informations supplémentaires sont accessibles sur son site Internet www.cnil.fr.

    Pour toute question sur ces aspects, vous pouvez nous contacter par email à l’adresse suivante :
    dpo@organic-alliance.com ou par voie postale à l’adresse suivante :

    Pronatura

    Data Protection Officer

    MIN

    754 avenue Pierre Grand

    84300 CAVAILLON

    04 90 78 73 00

    </p>
</div>

{% endblock %}

{% block footer %} {{ parent() }} {% endblock %}

{% endblock %}
