{% extends 'base.html.twig' %}

{% block navbar %} 

    <li><a href="/talent">Espace Talents</a></li>
    <li><a href="/pro">Espace Entreprises</a></li>

{% endblock %}

{% block pageTitle %}
    Récupération du mot de passe
{% endblock %}

{% block body %}


{% block offers %}

<div class="container text-center" style="background:#f7f7f7">
    <p style="margin: 5rem">
        Si le mail existe, tu recevras un lien vers le formulaire de réinitialisation du mot de passe.
    </p>
    <div class="row text-center text-center-mobile">
        
            <form method="post" action="/resetPassword">
                <div class="form-group col-sm-6">
                    <input type="email" class="form-control" name="email" placeholder="Entre ton Email" required >
                </div>
                <button type="submit" class="btn btn-blue">Envoyer</button>
            </form>
        
    </div>
</div>

{% endblock %}

{% block footer %} {{ parent() }} {% endblock %}

{% endblock %}
